[worldserver]

# The list of item ids that are available to the players
# If the module hasn't been used before, feel free to remove every item and add the items you want
# Make sure to never add items anywhere but the end of the list if the module has been used before adding new items
# Failing to follow this will mess with the bitmask that gets set when the items are loaded from this config
# The item ids are separated by a semicolon
PremiumAccounts.Items = "13582;13583;13584;20371;25535;33079;34425;37710;39286;43599;56806"

# The mail text sent when items are mailed to the player
PremiumAccounts.MailText = "Thank you for supporting our server!"
